{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}

    <!-- Page Header Start -->
    <div
      class="container-fluid page-header py-5 mb-5 wow fadeIn"
      data-wow-delay="0.1s"
    >
      <div class="container text-center py-5">
        <h1 class="display-4 text-white animated slideInDown mb-4">A propos</h1>
        <nav aria-label="breadcrumb animated slideInDown">
          <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item">
              <a class="text-white" href="#">Accueil</a>
            </li>
            <li class="breadcrumb-item">
              <a class="text-white" href="#">Pages</a>
            </li>
            <li class="breadcrumb-item text-primary active" aria-current="page">
              A propos
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <!-- Page Header End -->

    <!-- About Start -->
   
<!-- About Start -->
<div class="container-xxl py-5">
	<div class="container">
		<div class="row g-5">
			<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
				<div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px">
					<img class="position-absolute w-100 h-100" src="{{asset('images/art4.jpeg' )}}" alt="" style="object-fit: cover"/>
					<div class="position-absolute top-0 start-0 bg-white pe-3 pb-3" style="width: 200px; height: 200px">
						<div class="d-flex flex-column justify-content-center text-center bg-primary h-100 p-3">
							<h1 class="text-white">Art</h1>
							<h2 class="text-white">Site Web</h2>
							<h5 class="text-white mb-0">Tunisien</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
				<div class="h-100">
					<div class="border-start border-5 border-primary ps-4 mb-5">
						<h6 class="text-body text-uppercase mb-2">A propos nous</h6>
						<h1 class="display-6 mb-0">
							Le premier site web artistique en tunisie !
						</h1>
					</div>
					<p>
					Le premier site web artistique en Tunisie" est une vision ambitieuse qui vise à créer une plateforme
					 novatrice et inspirante pour les artistes et les passionnés d'art. Notre site se veut être un lieu de
					  découverte et d'expression artistique, mettant en lumière la richesse et la diversité de la scène
					   artistique tunisienne.
					</p>
					<p class="mb-4">
						En offrant un espace dédié aux artistes pour présenter leurs œuvres et partager
					    leur passion, nous souhaitons créer une communauté dynamique et créative qui célèbre l'art sous toutes
						 ses formes. 
					</p>
					<div class="border-top mt-4 pt-4">
						<div class="row g-4">
							<div class="col-sm-4 d-flex wow fadeIn" data-wow-delay="0.1s">
								<i class="fa fa-check fa-2x text-primary flex-shrink-0 me-3"></i>
								<h6 class="mb-0">À l'heure aux services</h6>
							</div>
							<div class="col-sm-4 d-flex wow fadeIn" data-wow-delay="0.3s">
								<i class="fa fa-check fa-2x text-primary flex-shrink-0 me-3"></i>
								<h6 class="mb-0">24/7 heures de services</h6>
							</div>
							<div class="col-sm-4 d-flex wow fadeIn" data-wow-delay="0.5s">
								<i class="fa fa-check fa-2x text-primary flex-shrink-0 me-3"></i>
								<h6 class="mb-0">professionnel</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
    <!-- About End -->

    <!-- Team End -->
{% endblock %}
