<form method="post" action="{{ path('app_vote_delete', {'idVote': vote.idVote}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vote.idVote) }}">
<button class="btn btn-danger">Delete</button>
</form>
