{% extends 'artiste-dash.html.twig' %}

{% block title %}Vote{% endblock %}

{% block body %}
    <h1>Vote</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID Vote</th>
                <td>{{ vote.idVote }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ vote.date ? vote.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_vote_index') }}" class="btn btn-secondary">Back to List</a>

    {{ include('vote/_delete_form.html.twig') }}
{% endblock %}
