{% extends 'base.html.twig' %}

{% block title %}Payment Form
{% endblock %}

{% block body %}
	<style>
		.fa-star.disabled {
			color: lightgray; /* Or any other disabled style you prefer */
			pointer-events: none; /* Prevents clicks on the stars */
		}
	</style>
	<!-- Navbar Start -->
		
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
	<div class="container text-center py-5">
		<h1 class="display-4 text-white animated slideInDown mb-4">Paiement formation</h1>

	</div>
</div>
<script src="https://js.stripe.com/v3/"></script>

<div class="container-xxl py-5">
	<div class="container">
		<form action="{{ path('process_payment') }}" method="POST" id="payment-form">
			<input type="hidden" name="formation_id" value="{{ formation.id }}">
			<div class="container">
				<div class="row">
					<div class="col-md-6 offset-md-3">
						<div class="card">
							<div class="card-header">
								<h2 class="text-center">Paiement pour la formation "{{ formation.nom }}"</h2>
							</div>
							<div class="card-body">
								<p>
									<strong>Prix de la formation:</strong>
									{{ formation.prix }}
									€</p>
								<!-- Include your payment form here -->
								<div
									id="card-element"><!-- A Stripe Element will be inserted here. -->
								</div>
								<div id="card-errors" role="alert"></div>
							</div>
							<div class="card-footer text-center">
								<button class="btn btn-primary">Procéder au paiement</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<script>
	var stripe = Stripe('pk_test_51OqD2zFwwP47unkPi7qTDmkiRBhSKtorduNEjDgm1sEHC4vIM9wb0f1FDkWMo8yg9VFRgfmhq0DW2XV13PF6fGje00twQjr4MN');
var elements = stripe.elements();

var cardElement = elements.create('card');
cardElement.mount('#card-element');

var form = document.getElementById('payment-form');

form.addEventListener('submit', function (event) {
event.preventDefault();

stripe.createToken(cardElement, {
name: 'Customer Name',
address_line1: 'Address Line 1',
address_city: 'City',
address_state: 'State',
address_zip: 'Postal Code',
address_country: 'Country'
}).then(function (result) {
if (result.error) {
var errorElement = document.getElementById('card-errors');
errorElement.textContent = result.error.message;
} else { // Token created, submit form with token ID
var tokenInput = document.createElement('input');
tokenInput.setAttribute('type', 'hidden');
tokenInput.setAttribute('name', 'stripeToken');
tokenInput.setAttribute('value', result.token.id);
form.appendChild(tokenInput);

form.submit();
}
});
});
</script>{% endblock %}
