<p>Bonjour,</p>

<p>Vous avez effectué une inscription dans un concours sur la plateforme de Tunart.</p>

<p>Votre inscription concerne le concour "{{ concour.nom }}" pour la date {{ concour.date ? concour.date|date('Y-m-d') : '' }}  le nombre des candidats lors de l'inscription est "{{ concour.Nparticipant }}".</p>

<p>Merci et bonne journée!</p>